:root {
  --heading-clr: 232, 73, 16;
  --main-text: 255, 255, 255;
  --main-bg: 0, 0, 0;
  --textblock-pad: calc(9.546vw - 0.909rem); /* (320,16)(1200,100) */
  --bottomtext-pad: calc(20.834vw - 4.166rem); /* (320,0)(1280,200) */
}
